@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HOŞGELDİNİZ</h1>
    <h2>Burası bir karpuz tarlası</h2>
    <h2> Bastığın yerlere dikkat et aslanım</h2>
</div>


<div style="background-color:brown" > 


    <a asp-action="ListCategories" asp-controller="Category" method="post" class="btn btn-light">Kategoriler</a>
    <a asp-action="ListProducts" asp-controller="Product" method="post" class="btn btn-success">Ürünler</a>




</div>