@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HOŞGELDİNİZ</h1>
    <h2>Kategoriler sayfasından kategori olarak crud işlemlerini</h2>
    <h2> Ürünler sayfasından da aynı şekilde ürün için crud işlemlerini yapabilirsiniz. </h2>

</div>


<div style="background-color:brown" > 


    <a asp-action="ListCategories" asp-controller="Category" method="post" class="btn btn-secondary">Kategoriler</a>
    <a asp-action="ListProducts" asp-controller="Product" method="post" class="btn btn-success">Ürünler</a>




</div>